.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.column {
  display: flex;
  flex-direction: row;
}

#board {
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.addPiece {
  /*float: right;*/
  /*margin-right: 5%;*/

  display: flex;
  /*width: 45%;*/
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 5%;
}

.calculateTurn {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.row {
  width: 60px;
  height: 60px;
  border-color: black;
  text-align: center;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  line-height: 60px;
  background-color: beige;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
}

.moveList {
  height: 300px;
  overflow-y: auto;
}
#moveList {
  columns: 3;
  list-style-position: inside;

}

